
<!--{{members}}
{{chatRoom}}

<li>{{messages}}</li-->

<div>
  {{#if user}}
    <h2>{{guild.name}}</h2>
    <div class = "hidden" id = "guildName">{{guild._id}}</div>
    <h3>{{guild.description}}</h3>
    <p>Admins</p>
    {{#each guild.admins}}
      <p>{{this}}</p>
    {{/each}}
    <p> Members </p>
    {{#each guild.members}}
      <p>{{this}}</p>
    {{/each}}
    <h3>Rooms</h3>
    <ul id = "chatRoomList">
      {{#each guild.chatRooms}}
        <li>
          <form method="GET" class = "chatRoom">
            <input type="hidden" name="chatRoom" value = {{this._id}}>
            <button type="submit" class = "showChat">
                {{this.name}}
            </button>
          </form>
        </li>
      {{/each}}
    </ul>
    <form method = "POST" action="createRoom" id = "createRoom">
      <input type = "text" name="rName" id = "roomName">
      <input type = "submit" value = "Create Room">
    </form>
    <div id = "chat" class = "hidden">
      <table id = "messages">

      </table>
      <form method = "POST" id = "sendMessage">
        <input type = "text" id = "message">
        <input type = "submit" value = "Send">
      </form>
    </div>
    {{else}}
    <p>You need to be logged in to access this page.</p>
  {{/if}}
</div>

<script src="/javascript/chatroom.js"></script>
